*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../img/Farmacia_diseño.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.recover-header {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cadetblue;
    border: 2px dashed cadetblue;
    border-radius: 10px;
    padding: 2%;
    width: 50%;
    left: 25%;
    top: 1%;
    text-shadow:
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px  1px 0 black,
        1px  1px 0 black;;
}

@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.recover-form {
    display: flex;
    font-size: medium;
    position: relative;
    flex-direction: column;
    justify-content: center;
    border: 3px solid black;
    border-radius: 30px;
    padding: 5%;
    width: 30%;
    height: 50%;
    gap: 10px;
    left: 35%;
    top: 15%;
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: aparecer 2s ease forwards;
}

.recover-form label {
    margin-bottom: 5px;
}

.recover-form input {
    padding: 10px;
    border: 1px solid cadetblue;
    border-radius: 5px;
}

.recover-form button {
    padding: 10px;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.recover-form button:hover {
    background-color: darkcyan;
}
