<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar Cita</title>
</head>
<body>

    <form method="post" action="{{ url_for('citas') }}">

        <div class="motivo">
            <h3>Motivo de cita:</h3>
            <input type="text" name="motivo" placeholder="Escribe el motivo de tu cita" required>
            <button type="submit" name="mostrar_citas">Agendar</button>
        </div>

    </form>

    {% if mostrar_citas %}
        <h2>Estas son todas las citas disponibles</h2>

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Fecha disponible</th>
                    <th>Hora disponible</th>
                    <th>Sucursal</th>
                    <th>Doctor</th>
                </tr>
            </thead>
            <tbody>
                {% for cita in citas %}
                {%if cita.disponible %}
                <tr>
                    <form method="POST" action="{{ url_for('citas') }}">
                            <input type="hidden" name="cita_id" value="{{ cita.id_cita_disponibles }}">
                            <button type="submit" name="agendar_cita">Agendar</button>
                    </form>
                    <td>{{ cita.fecha_disponible }}</td>
                    <td>{{ cita.hora_disponible }}</td>
                    <td>{{ cita.sucursal.nombre }}</td>
                    <td>{{ cita.doctor.empleado.nombre }} {{ cita.doctor.empleado.apellido }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>
</html>