<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="../static/icon/medicina.png" type="image/png">
    <link rel="stylesheet" href="../static/css/fpassword.css">
</head>
<body>
    <header class="recover-header">
        <h1>Recuperar la contraseña</h1>
    </header>

    <form action="{{ url_for('forgot_password') }}" method="post" class="recover-form">
        <label for="email">Correo electrónico:</label>
        <input type="email" name="email" id="email" placeholder="Ingrese su correo electrónico" required>
        <button type="submit">Enviar enlace de recuperación</button>

        <script>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        alert("{{ message }}");
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </script>
</body>
</html>